<!-- Navigation Bar -->
<div class="navbar">
    <!-- Home button on the top-left corner -->
    <div class="navbar-left">
        <a routerLink="">Home</a>
    </div>

    <!-- Image aligned to the left side -->
    <!-- Image that changes based on login status -->
    <div class="navbar-image">
        <img src="https://static.toiimg.com/thumb/msid-106162947,width-1280,height-720,resizemode-4/106162947.jpg"
            alt="Home Image">
    </div>


    <!-- Right side login/signup or logout button -->
    <div class="navbar-right">
        <!-- Show Login and Signup if NOT logged in -->
        <ng-container *ngIf="!isLoggedIn; else loggedInLinks">
            <a routerLink="login">Login</a>
            <a routerLink="signup">Signup</a>
        </ng-container>

        <!-- Show Chat, Profile, and Logout if logged in -->
        <ng-template #loggedInLinks>
            <a routerLink="user/chat">Chat</a>
            <a routerLink="user/profile">Profile</a>
            <button (click)="logout_user()">Logout</button>
        </ng-template>
    </div>
</div>

<!-- Content rendered here -->
<router-outlet></router-outlet>